@model List<PLCComunicationLib.Simatic>
@{
    ViewData["Title"] = "Plc";
    List<Tuple<string, string>> element_name = new List<Tuple<string, string>>();    
}
<p1>Vypis vsech plc</p1>

<table id="myTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>plc ID</th>
            <th>Ip Address</th>
            <th>Output pin</th>
            <th>Value</th>
            <th>Change Value</th>
            <th>Change Value 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plc in Model)
        {

            // var result = plc.Read_bite(outputs).Values.ToList();
            for (int i = 0;i < ViewBag.OutputsCount; i++)
            {
                <tr>
                    <th>@plc.ID</th>
                    <th>@plc.IP </th>
                    <th>Output @i</th>
                    <th id="@string.Format("Value_{0}_{1}",plc.ID,i)">Cekam </th>
                    <th><a class="btn" >ON/OFF</a></th>
                    <th><input id="@string.Format("{0}_{1}",plc.ID,i)" type="checkbox" name="ON/OFF"></th>
                </tr>
                element_name.Add(new Tuple<string, string>(plc.ID.ToString(), i.ToString()));
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    var urlWrite = "@Url.Action("Write2PLC", "Home")";
    var urlRead = "@Url.Action("ReadFromPlc", "Home")";
    var myTable = document.getElementById("myTable");
    // Zapis dat do plc
    @foreach(var item in element_name){
        <Text>
            $("#@string.Format("{0}_{1}",item.Item1,item.Item2)").change(function () {
                if (this.checked) {
                    $.post(urlWrite, 'id=@item.Item1&pin=@item.Item2&value=True ', function (result) { });
                }
                else {
                    $.post(urlWrite, 'id=@item.Item1&pin=@item.Item2&value=False', function (result) { });
                }
             })
        </Text>
    }
    // Cteni dat z plc
   setInterval(function () {
       @foreach(var item in element_name)
       {
           <Text>
            $.get(urlRead + "?id=@item.Item1&pin=@item.Item2",
                   function(data) {
                       document.getElementById('@string.Format("Value_{0}_{1}",item.Item1, item.Item2)').innerHTML = data;                     
                    }
              )
            </Text>
       }
            },2000)

</script>

